# Ignore markdown files
*.md

# Ignore GitHub Actions workflows
.github/workflows/*.yml
.github/workflows/*.yaml

# Standard ignores
node_modules
.next
dist
build
coverage
playwright-report
test-results

e2e/fixtures/*.json
test-results.json
package.json
package-lock.json
